html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: black;
}

#deskParts {
  position: fixed;
  left: 660px;
  bottom: -100px;
  width: 600px;
  height: 370px;
}

#leftLeg {
  background: url('../resources/deskLeftLeg.svg');
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  width: 35px;
  height: 350px;
  left: 15px;
  bottom: 0px;
}

#rightLeg {
  background: url('../resources/deskRightLeg.svg');
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  width: 150px;
  height: 350px;
  right: 15px;
  bottom: 0px;
} 

#top {
  background: url('../resources/deskTop.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 600px;
  height: 30px;
  left: 0;
  bottom: 340px;
}

#mugParts {
  position: fixed;
  left: 685px;
  bottom: 270px;
  width: 75px;
  height: 80px;
}

#mug {
  background: url('../resources/mug.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 80px;
  height: 75px;
  left: 0;
  bottom: 0;
}

#pcParts {
  position: fixed;
  left: 625px;
  bottom: 270px;
  width: 350px;
  height: 350px;
}

#pcStand {
  background: url('../resources/pcStand.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 100px;
  height: 50px;
  left: 300px;
  bottom: 0;
}

#pcMonitor {
  background: url('../resources/pcMonitor.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 320px;
  height: 200px;
  left: 190px;
  bottom: 50px;
}

#pcScreen {
  background: url('../resources/pcScreen.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 300px;
  height: 180px;
  left: 200px;
  bottom: 60px;
}