html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: black;
}

#deskParts {
  position: fixed;
  left: 660px;
  bottom: -100px;
  width: 600px;
  height: 370px;
}

#leftLeg {
  background: url('../resources/deskLeftLeg.svg');
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  width: 35px;
  height: 350px;
  left: 15px;
  bottom: 0px;
}

#rightLeg {
  background: url('../resources/deskRightLeg.svg');
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  width: 150px;
  height: 350px;
  right: 15px;
  bottom: 0px;
} 

#top {
  background: url('../resources/deskTop.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 600px;
  height: 30px;
  left: 0;
  bottom: 340px;
}

#mugParts {
  position: fixed;
  left: 685px;
  bottom: 270px;
  width: 75px;
  height: 80px;
}

#mug {
  background: url('../resources/mug.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 80px;
  height: 75px;
  left: 0;
  bottom: 0;
}

#pcParts {
  position: fixed;
  left: 800px;
  bottom: 270px;
  width: 320px;
  height: 250px;
}

#pcStand {
  background: url('../resources/pcStand.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 100px;
  height: 50px;
  left: 110px;
  bottom: 0;
}

#pcMonitor {
  background: url('../resources/pcMonitor.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 320px;
  height: 200px;
  left: 0;
  bottom: 50px;
}

#pcScreen {
  background: url('../resources/pcScreen.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 300px;
  height: 180px;
  left: 10px;
  bottom: 60px;
}

#keyboardBase {
  background: url('../resources/keyboardBase.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 220px;
  height: 10px;
  left: 10px;
  bottom: 0;
}

#mouse {
  background: url('../resources/mouse.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 35px;
  height: 18px;
  right: 0;
  bottom: 0;
}

#key1 {
  background: url('../resources/key.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 10px;
  height: 2px;
  left: 15px;
  bottom: 10px;
  visibility: hidden;
}

#key2 {
  background: url('../resources/key.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 10px;
  height: 2px;
  left: 30px;
  bottom: 10px;
  visibility: hidden;
}

#key3 {
  background: url('../resources/key.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 10px;
  height: 2px;
  left: 45px;
  bottom: 10px;
  visibility: hidden;
}
#key4 {
  background: url('../resources/key.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 10px;
  height: 2px;
  left: 60px;
  bottom: 10px;
  visibility: hidden;
}

#key5 {
  background: url('../resources/key.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 10px;
  height: 2px;
  left: 75px;
  bottom: 10px;
  visibility: hidden;
}

#key6 {
  background: url('../resources/key.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 10px;
  height: 2px;
  left: 90px;
  bottom: 10px;
  visibility: hidden;
}

#key7 {
  background: url('../resources/key.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 10px;
  height: 2px;
  left: 105px;
  bottom: 10px;
  visibility: hidden;
}

#key8 {
  background: url('../resources/key.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 10px;
  height: 2px;
  left: 120px;
  bottom: 10px;
  visibility: hidden;
}

#key9 {
  background: url('../resources/key.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 10px;
  height: 2px;
  left: 135px;
  bottom: 10px;
  visibility: hidden;
}

#key10 {
  background: url('../resources/key.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 10px;
  height: 2px;
  left: 150px;
  bottom: 10px;
  visibility: hidden;
}

#key11 {
  background: url('../resources/key.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 10px;
  height: 2px;
  left: 180px;
  bottom: 10px;
  visibility: hidden;
}

#key12 {
  background: url('../resources/key.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 10px;
  height: 2px;
  left: 195px;
  bottom: 10px;
  visibility: hidden;
}

#key13 {
  background: url('../resources/key.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 10px;
  height: 2px;
  left: 210px;
  bottom: 10px;
  visibility: hidden;
}

#cursor {
  background: url('../resources/cursor.svg');
  background-repeat: no-repeat;
  z-index: 3;
  position: absolute;
  width: 8px;
  height: 15px;
  left: 250px;
  bottom: 125px;
  visibility: hidden;
}

#btn {
  background: url('../resources/btn.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 50px;
  height: 20px;
  left: 135px;
  bottom: 125px;
  visibility: hidden;
}

#box1 {
  background: url('../resources/box1.svg');
  background-repeat: no-repeat;
  z-index: 3;
  position: absolute;
  width: 105px;
  height: 75px;
  left: 190px;
  bottom: 150px;
}